{% extends "base.html" %}

{% block content %}


  {% if manufacturer_list %}
    <h2>MANUFACTURERS:</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
      </tr>
      {% for manufacturer in manufacturer_list %}
        <tr>
          <td>{{ manufacturer.id }}</td>
          <td>{{ manufacturer.name }}</td>
          <td>{{ manufacturer.country }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h2>Currently, there are no manufacturers!</h2>
  {% endif %}


{% endblock %}
